* {
    margin:0;
    padding: 0;
    font-size: 0.9375rem;
    font-family: ReithSans,Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #3F3F42;
}


body {
    border: #000 solid 1px;
    width: 700px;
    margin: 20px auto;
    max-width: 1000px;
}

.logo {
    float: left;
}



header {
    background: #e6e6e6;
    position: sticky;
    top: 0;
    border-bottom: #a2a9b1 1px solid;
}


header nav {
    overflow: hidden;
    
}

header nav ul {
    list-style: none;
}

header nav ul li {
    float: left;
    
}

header nav ul li a {
    padding: 10px 20px;
    display: flex;
    color: black;
    text-decoration: none;
    height: 80px;
    width: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

header nav ul li a:hover{
    background: #75acec;
}

.clear {
    clear: both;
    display: block;
}

h1 {
    font-size: 3em;
    margin-bottom: 0.6em;
    border-bottom: #a2a9b1 1px solid;
}

h2 {
    font-size: 2em;
}

h3{
    font-size: 1.5em;

}

.title_home {
    padding: 5px;
}

.articles div img{
    display: inline;
    float: left;
    margin: 5px;
}

.bitcoin h2, .ethereum h2 {
    display: block;
}

.main {
    padding: 5px;
}

article {
    margin-bottom: 20px;
    overflow: hidden;
}

.articles {
    padding: 10px;
}

.articles1,.articles2{
    width: 325px;
    float: left;
    height: 500px;
    padding: 5px;
    background: #fff;
}

.articles2 {
    overflow-y: scroll;
}

.photo1,.photo2 {
    margin-bottom: 5px;
}

footer {
    background: #000;
    color:#fff;
    clear:both;
    padding: 10px 0px;
    text-align: center;
}

footer a {
    color: white;
}